In [51]:
import wisps
import numpy as np
import astroquery
import splat
from astropy.coordinates import SkyCoord
import astropy.units as u
import pandas as pd
from astroquery.vizier import Vizier
from astropy.table import Table
from astropy.coordinates import Angle

In [6]:
cands=pd.read_pickle(wisps.LIBRARIES+'/new_real_ucds.pkl')

In [10]:
coords=SkyCoord(cands.spectra.apply(lambda x:x.coords).values)

In [58]:
df=Table()
df['_RAJ2000']=coords.ra
df['_DEJ2000']=coords.dec

In [59]:
#df

In [60]:
res=Vizier.query_region(df, radius=Angle(10, "arcsec"), catalog='WISE')

In [61]:
res

Empty TableList

In [63]:
res=Vizier.query_region(df, radius=Angle(10, "arcsec"), catalog='2MASS')

In [66]:
res

Empty TableList

In [64]:
res=Vizier.query_region(df, radius=Angle(10, "arcsec"))

In [65]:
res

Empty TableList

In [68]:
Vizier.query_region(df, radius=5*u.deg)

Empty TableList

In [72]:
df.to_pandas().to_csv('/users/caganze/desktop/ra_decs_WFC3.csv')

In [73]:
#5 arcsec
gaia_results=pd.read_csv('/users/caganze/research/wisps/data/gaia_isp_crossmatch-result.csv')

In [77]:
gaia_results_2arcsec=pd.read_csv('/users/caganze/research/wisps/data/gaia_cf3_2arcsec_cross.csv')

In [78]:
gaia_results_2arcsec

,source_id,ra,dec,parallax,parallax_error,phot_g_mean_mag,bp_rp,dr2_radial_velocity,dr2_radial_velocity_error
0,4128310302796800256,258.119725,-19.500291,1.145933,0.783533,20.335526,1.326612,NaN,NaN
1,4128310302796800384,258.110317,-19.504995,NaN,NaN,20.822922,NaN,NaN,NaN
2,4128310302796806784,258.115452,-19.497078,1.189043,1.046714,20.583714,1.044197,NaN,NaN
3,4128310302796807296,258.109720,-19.499920,NaN,NaN,20.916595,0.099331,NaN,NaN
4,4128310302796807424,258.108771,-19.500418,NaN,NaN,20.651249,0.995247,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1995,4089437000471209856,276.268906,-23.557748,0.087550,0.337358,19.163607,1.302040,NaN,NaN
1996,4089437000471210624,276.270008,-23.556445,0.028091,0.612953,19.620580,NaN,NaN,NaN
1997,4089437000471211392,276.271876,-23.554253,-0.502561,0.355395,19.264282,NaN,NaN,NaN
1998,4089437000471211520,276.267068,-23.558669,0.890829,0.430815,19.394316,1.486912,NaN,NaN
1999,4089437000471211648,276.264498,-23.561047,0.320502,0.938979,19.390879,1.540987,NaN,NaN