In [64]:
import wisps
import numpy as np
import astroquery
import splat
from astropy.coordinates import SkyCoord
import astropy.units as u
import pandas as pd

In [37]:
from splat.database import queryVizier

In [58]:
@np.vectorize
def query_wise(coord):
    try:
        return queryVizier(coord, WISE=True).sort_values('sep').iloc[0]
    except:
        return

In [59]:
cands=wisps.datasets['candidates']

In [86]:
lts=cands[cands.spt.apply(splat.typeToNum)>=20]

In [87]:
coords=SkyCoord(ra=lts.RA.values*u.deg, dec=lts.DEC.values*u.deg)

In [88]:
%%capture
out=query_wise(coords)

In [89]:
pd.DataFrame.from_records([x for x in out if x is not None])

,_r,WISE,RAJ2000,DEJ2000,eeMaj,eeMin,eePA,Im,W1mag,e_W1mag,...,nW2,mW2,nW3,mW3,nW4,mW4,_2Mkey,d2M,_2M,sep
0,6.867,J115451.66+194109.9,178.715280,19.686104,0.717,0.644,73,Im,16.684000,0.115,...,13,1,13,0,13,0,0,NaN,2M,6.867
1,8.642,J113305.33+032843.4,173.272217,3.478731,0.706,0.627,80,Im,16.587999,0.113,...,13,0,13,0,13,0,0,NaN,2M,8.642
2,12.829,J161850.72+334012.2,244.711369,33.670067,1.440,1.270,80,Im,18.521999,0.468,...,18,1,18,0,18,0,0,NaN,2M,12.829
3,12.821,J115048.93-203347.7,177.703902,-20.563263,0.316,0.290,81,Im,15.604000,0.055,...,14,1,14,0,12,0,1266598935,0.767,2M,12.821
4,14.762,J162523.11+572126.2,246.346302,57.357285,0.960,0.860,61,Im,18.097000,0.152,...,86,1,86,0,82,0,0,NaN,2M,14.762
5,21.298,J130526.01-253808.5,196.358413,-25.635718,0.554,0.496,77,Im,16.760000,0.092,...,25,0,24,4,22,1,0,NaN,2M,21.298
6,22.697,J100341.44+285426.7,150.922688,28.907439,0.650,0.573,78,Im,16.635000,0.110,...,14,0,14,0,14,0,0,NaN,2M,22.697
7,0.109,J092757.42+602746.7,141.989262,60.462974,0.113,0.108,99,Im,13.832000,0.027,...,18,18,18,0,18,0,534016176,0.308,2M,0.109
8,19.682,J112407.78+420253.1,171.032449,42.048087,0.570,0.502,72,Im,16.569000,0.090,...,18,0,18,0,18,0,0,NaN,2M,19.682
9,26.653,J141850.40+524325.9,214.710002,52.723885,0.922,0.828,60,Im,17.337999,0.143,...,27,0,27,0,23,0,0,NaN,2M,26.653
10,2.935,J033238.81-274956.5,53.161733,-27.832380,0.311,0.287,118,Im,16.350000,0.057,...,43,6,42,1,40,0,0,NaN,2M,2.935
11,14.054,J033305.12-275130.1,53.271370,-27.858369,0.084,0.079,7,Im,12.414000,0.023,...,39,39,39,1,37,0,181233443,0.194,2M,14.054

In [95]:
wisps.datasets['schneider'].name.sort_values()

9     WISE0325-5044
20    WISE0335+4310
1     WISE0350-5658
19    WISE0359-5401
11    WISE0404-6420
4     WISE0410+1502
6     WISE0535-7500
0     WISE0647-6232
17    WISE0734-7157
15    WISE0825+2805
5     WISE0943+3607
18    WISE1206+8401
16    WISE1405+5534
2     WISE1541-2250
10    WISE1542+2230
13    WISE1639-6847
3     WISE1738+2732
14    WISE2056+1459
8     WISE2209+2711
21    WISE2212-6931
7     WISE2220-3628
12    WISE2354+0240
Name: name, dtype: object