In [1]:
import wisps
import splat
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import astropy.units as u
%matplotlib inline

Warning: spectrum object has a flux vector of zero length - maybe empty?

Warning: normalize is attempting to divide by nan; ignoring

Warning: spectrum object has a flux vector of zero length - maybe empty?

Warning: normalize is attempting to divide by nan; ignoring

In [2]:
pnts=wisps.OBSERVED_POINTINGS

In [3]:
tabl=pd.DataFrame()

In [4]:
tabl['Pointing']=[x.name.replace('par', 'wisps-').upper() for x in pnts]
tabl['l']=[x.coord.galactic.l.to(u.deg) for x in pnts]
tabl['b']=[x.coord.galactic.b.to(u.deg) for x in pnts]
tabl['G141time']=[int(np.mean(x.exposure_time)) for x in pnts]
tabl['obsdate']=[x.observation_date[0] for x in pnts]

In [5]:
def round_float(x):
    return np.round(x, 1)

In [6]:
mags_df=pd.DataFrame([x.mag_limits for x in pnts]).applymap(round_float)

In [7]:
df=tabl.join(mags_df)

In [8]:
df

,Pointing,l,b,G141time,obsdate,F110,F140,F160
0,AEGIS-01,96d26m22.7957s,59d29m44.8363s,6618,2011-05-05,NaN,23.8,23.7
1,AEGIS-02,96d22m11.4361s,59d30m03.2299s,5112,2011-05-03,NaN,23.5,23.4
2,AEGIS-03,96d26m09.5835s,59d40m26.0968s,5112,2011-06-13,NaN,23.4,23.3
3,AEGIS-04,96d29m48.3635s,59d36m39.0879s,5012,2011-03-16,NaN,23.6,23.4
4,AEGIS-05,96d29m39.136s,59d39m03.5108s,5112,2011-03-16,NaN,23.9,23.8
...,...,...,...,...,...,...,...,...
528,WISPS-95,133d57m19.1573s,-64d53m14.663s,2209,2011-01-02,22.8,NaN,22.5
529,WISPS-96,166d03m32.5449s,-60d53m34.31s,11429,2010-12-16,23.9,NaN,23.7
530,WISPS-97,133d57m57.9196s,-64d52m00.5156s,2109,2011-01-16,22.3,NaN,21.9
531,WISPS-98,165d03m24.9011s,51d18m57.8371s,2006,2011-01-22,NaN,NaN,21.9
532,WISPS-99,197d48m56.2667s,47d26m53.1188s,3812,2011-01-28,22.2,22.3,21.9

In [12]:
df.to_latex(wisps.LIBRARIES+'/pointings.tex', index=False,  na_rep=' ')

In [10]:
#wisps.datasets['stars']